.about-screen {
    .breadcrumb-content {
        .breadcrumb-left {
            height: 700px;
        }
    }
    .introduction-title {
        font-size: 32px;
    }
    .contain-box {
        .mission-title, .vision-title {
            font-size: 72px;
        }
    }
    .introduction-description {
        font-size: 24px;
        &.max-width-70 {
            max-width: 70%;
            @media screen and (max-width: 768px) {
                max-width: 100%;
            }
        }
    }
    .about-screen-container {
        background-color: rgba(95, 39, 205, 0.15);
        .about-screen-image-cover {
            width: 75%;
            min-height: 390px !important;
            max-height: 390px !important;
            object-fit: cover !important;
            background-size: cover !important;
            object-position: center !important;
            background-position: center;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        .about-screen-text-container {
            background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(22, 176, 207),rgb(103, 7, 215));
        }
        .about-img {
            width: 100%;
            max-height: 650px;
            min-height: 650px;
            background-size: cover;
            background-position: center;
            object-position: center;
            object-fit: cover;
        }
    }
    .about-screen-governance {
        background-color: #2491eb;
        position: relative;
        .shadow-1 {
            background-color: hsla(0, 0%, 100%, 0.1);
            border-radius: 50%;
            bottom: 50px;
            display: inline-block;
            height: 200px;
            left: -100px;
            position: absolute;
            width: 200px;
            z-index: 1;
        }
        .shadow-2 {
            background-color: hsla(0, 0%, 100%, 0.1);
            border-radius: 20% 130% 100% 125%;
            display: inline-block;
            height: 400px;
            left: 100px;
            position: absolute;
            top: 300px;
            width: 400px;
            z-index: 1;
        }
        .shadow-3 {
            background-color: hsla(0, 0%, 100%, 0.1);
            border-radius: 50%;
            bottom: -30%;
            display: inline-block;
            height: 550px;
            position: absolute;
            right: -124px;
            width: 550px;
            z-index: 1;
        }
        .text-small {
            font-size: 15px;
        }
        .governance-title {
            font-size: 32px;
            @media screen and (max-width: 991px) {
                font-size: 25px;
            }
        }
        .text-green {
            color: #2491eb;
        }
        .governance-description {
            font-size: 24px;
        }
        .governance-box-title {
            font-size: 32px;
            color: #2491eb;
            font-weight: 600;
        }
        .governance-box-description {
            font-size: 24px;
        }
        .governance-box-container {
            background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(22, 176, 207),rgb(103, 7, 215));
            .governance-box-text {
                font-size: 32px;
            }
            .governance-box-description {
                font-size: 24px;
            }
            .trusted-company {
                width: 95px;
                min-width: 95px;
                height: 95px;
                min-height: 95px;
                background-color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 21px;
                color: #000000;

                @media screen and (max-width: 768px) {
                    width: 75px;
                    min-width: 75px;
                    height: 75px;
                    min-height: 75px;
                }
            }
        }
    }
}
