.contact-screen {
    .breadcrumb {
        background-color: #5f27cd;
        height: 350px;
    }
    .background-cover {
        width: 100%;
        height: 500px;
        min-height: 500px;
        max-height: 500px;
        object-fit: cover;
        object-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .title {
        font-size: 32px;
    }
    .description {
        font-size: 24px;
        &.max-width-70 {
            max-width: 70%;
            @media screen and (max-width: 768px) {
                max-width: 100%;
            }
        }
    }
    .accordion {
        .accordion-item {
            border: none !important;
            .accordion-header {
                .accordion-button {
                    box-shadow: 0 0 0 0 !important;
                    border: none !important;
                    border-radius: 10px !important;
                    font-size: 24px !important;
                }
            }
            .accordion-collapse {
                .accordion-body {
                    margin: 20px 0 !important;
                    padding: 20px !important;
                    background-color: rgba(136, 138, 133, 0.2) !important;
                    border-radius: 10px !important;
                }
            }
        }
    }
}
