
.contact-screen {
    .background-cover {
        width: 100%;
        height: 500px;
        min-height: 500px;
        max-height: 500px;
        object-fit: cover;
        object-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .large-title {
        font-size: 75px;
    }
    .title {
        font-size: 32px;
    }
    .description {
        font-size: 24px;
        &.max-width-70 {
            max-width: 70%;
            @media screen and (max-width: 768px) {
                max-width: 100%;
            }
        }
    }
    .contact-screen-container {
        .contact-box {
            width: 370px;
            height: 370px;
            padding: 0 50px;
            margin: 5px;
            background-color: #2491eb;
            @media screen and (max-width: 1024px) {
                width: 320px;
                height: 320px;
            }
        }
    }
    .get-in-touch-screen-container {
        .form-control, .form-textarea, .form-select {
            background-color: #dee2e6 !important;
            border: 1px solid #dee2e6 !important;
            transition: 0.3s all ease-in-out;
            outline: none !important;
            display: block;
            width: 100%;
            border-radius: 5px !important;

            &:focus-visible {
                transition: 0.3s all ease-in-out;
                box-shadow: 0 0 0 0.25rem rgba(36, 145, 235, 0.25) !important;
            }
        }
        .text-link {
            color: #2491eb;
            transition: 0.3s all ease-in-out;

            &:hover {
                color: #2075bb;
                transition: 0.3s all ease-in-out;
            }
        }
        .form-checkbox[type=checkbox] {
            position: relative;
            border: 2px solid var(--bs-secondary);
            border-radius: 4px;
            background: none;
            cursor: pointer;
            line-height: 0;
            margin: 0 .6em 0 0;
            outline: 0;
            padding: 0 !important;
            vertical-align: text-top;
            height: 20px;
            width: 20px;
            -webkit-appearance: none;
            opacity: .5;
            box-shadow: 0 0 0 0 !important;

            &[type=checkbox]:hover {
                opacity: 1;
            }

            &[type=checkbox]:checked {
                border: 2px solid transparent;
                background-color: #2491eb;
                opacity: 1;

                &[type=checkbox]:before {
                    content: '';
                    position: absolute;
                    right: 50%;
                    top: 50%;
                    width: 5px;
                    border: solid #FFF;
                    height: 8px;
                    border-width: 0 2px 2px 0;
                    margin: 0 -1px 0;
                    transform: rotate(45deg) translate(-50%, -50%);
                    z-index: 2;
                }

            }

            &[type=checkbox]:before {
                content: '';
                position: absolute;
                right: 50%;
                top: 50%;
                width: 7px;
                height: 14px;
                border: transparent;
                border-width: 0 2px 2px 0;
                margin: 0 -1px 0;
                transform: rotate(45deg) translate(-50%, -50%);
                z-index: 2;
            }

        }
    }
    .btn-theme {
        background-color: #2491eb !important;
        transition: 0.3s all ease-in-out !important;
        color: #ffffff !important;
        border: 1px solid #2491eb !important;
        &:hover {
            background-color: #2075bb !important;
            transition: 0.3s all ease-in-out !important;
            border: 1px solid #2075bb !important;
        }
    }
}
