.contact-screen {
    .background-cover {
        width: 100%;
        height: 500px;
        min-height: 500px;
        max-height: 500px;
        object-fit: cover;
        object-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .large-title {
        font-size: 75px;
    }
    .title {
        font-size: 32px;
    }
    .description {
        font-size: 24px;
        &.max-width-70 {
            max-width: 70%;
            @media screen and (max-width: 768px) {
                max-width: 100%;
            }
        }
    }
    .contact-screen-container {
        .accordion {
            .accordion-item {
                border: none !important;
                margin-bottom: 20px !important;
                .accordion-header {
                    .accordion-button {
                        box-shadow: 0 0 0 0 !important;
                        border: none !important;
                        border-radius: 10px !important;
                        font-size: 32px !important;
                        background-color: #5f27cd;
                        color: #ffffff;
                        &.collapsed {
                            background-color: rgba(136, 138, 133, 0.2) !important;
                            color: #000000;
                            &:after {
                                filter: inherit;
                            }
                        }
                        &:after {
                            filter: brightness(100);
                        }
                    }
                }
                .accordion-collapse {
                    .accordion-body {
                        margin-top: 20px !important;
                        padding: 20px !important;
                        background-color: rgba(136, 138, 133, 0.2) !important;
                        border-radius: 10px !important;
                        font-size: 24px;
                        .link {
                            color: #5f27cd;
                            transition: 0.3s all ease-in-out;

                            &:hover {
                                color: #009432;
                                transition: 0.3s all ease-in-out;
                            }

                        }
                    }
                }
            }
        }
    }
    .get-in-touch-screen-container {
        .form-label {
            font-size: 24px;
        }
        .form-control {
            background-color: #dee2e6 !important;
            border: 1px solid #dee2e6 !important;
            font-size: 24px;
            transition: 0.3s all ease-in-out;

            &:focus-visible {
                transition: 0.3s all ease-in-out;
                box-shadow: 0 0 0 0.25rem rgba(95, 39, 205, 0.25) !important;
            }
        }
        .text-link {
            color: #5f27cd;
            transition: 0.3s all ease-in-out;

            &:hover {
                color: #009432;
                transition: 0.3s all ease-in-out;
            }
        }
        .btn-theme {
            background-color: #009432;
            transition: 0.3s all ease-in-out;
            color: #FFFFFF;
            &:hover {
                background-color: #5f27cd;
                transition: 0.3s all ease-in-out;
            }
        }
        .form-checkbox[type=checkbox] {
            position: relative;
            border: 2px solid #e3e3e3;
            border-radius: 4px;
            background: none;
            cursor: pointer;
            line-height: 0;
            margin: 0 .6em 0 0;
            outline: 0;
            padding: 0 !important;
            vertical-align: text-top;
            height: 20px;
            width: 20px;
            -webkit-appearance: none;
            opacity: .5;
            box-shadow: 0 0 0 0 !important;

            &[type=checkbox]:hover {
                opacity: 1;
            }

            &[type=checkbox]:checked {
                border: 2px solid transparent;
                background-color: #5f27cd;
                opacity: 1;

                &[type=checkbox]:before {
                    content: '';
                    position: absolute;
                    right: 50%;
                    top: 50%;
                    width: 5px;
                    border: solid #FFF;
                    height: 8px;
                    border-width: 0 2px 2px 0;
                    margin: 0 -1px 0;
                    transform: rotate(45deg) translate(-50%, -50%);
                    z-index: 2;
                }

            }

            &[type=checkbox]:before {
                content: '';
                position: absolute;
                right: 50%;
                top: 50%;
                width: 7px;
                height: 14px;
                border: transparent;
                border-width: 0 2px 2px 0;
                margin: 0 -1px 0;
                transform: rotate(45deg) translate(-50%, -50%);
                z-index: 2;
            }

        }
    }
}
