.courses-screen {
    width: 100%;
    .each-data {
        width: 100%;
        .each-data-overflow {
            width: 350px;
            min-width: 350px;
            max-width: 350px;
            @media screen and (max-width: 1199px) {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
            }
        }
        .each-data-img {
            width: 350px;
            height: 550px;
            object-fit: cover;
            object-position: center;
            display: block;
            &.vocational-image {
                @media screen and (max-width: 1399px) {
                    height: 565px;
                }
                @media screen and (max-width: 991px) {
                    height: 300px;
                }
            }
            @media screen and (max-width: 1199px) {
                object-position: top;
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                height: 450px;
            }
            @media screen and (max-width: 991px) {
                height: 300px;
            }
        }
    }
}
