.courses-screen {
    width: 100%;

    .each-data {
        width: 100%;

        .each-data-overflow {
            width: 350px;
            min-width: 350px;
            max-width: 350px;
        }
        .each-data-img {
            width: 350px;
            height: 470px;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }

}
