.course-screen{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .course-screen-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        .fs-4 {
            @media screen and (max-width: 576px) {
                font-size: 16px !important;
            }
        }
        .each-course{
            width: 295px;
            display: inline-block;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 10px;
            .each-course-img{
                width: 100%;
                height: 200px;
                object-fit: cover;
                object-position: top;
            }
            .each-course-content{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
    .btn-theme {
        background-color: #2491eb !important;
        transition: 0.3s all ease-in-out !important;
        color: #ffffff !important;
        border: 1px solid #2491eb !important;
        &:hover {
            background-color: #2075bb !important;
            transition: 0.3s all ease-in-out !important;
            border: 1px solid #2075bb !important;
        }
    }
}
