.breadcrumb-content {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    object-position: top;

    .breadcrumb-content-left {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        align-items: center;
        background-color: #2491eb;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        float: left;
        height: 700px;
        width: 50%;

        @media screen and (max-width: 991px) {
            width: 100%;
        }

        &:before {
            position: absolute;
            content: "";
            border-left: 150px solid #2491eb;
            border-top: 700px solid transparent;
            right: -150px;
            top: 0;
            background-color: transparent;
            z-index: 1;
        }

        .shadow-1 {
            background-color: hsla(0, 0%, 100%, 0.1);
            border-radius: 50%;
            bottom: 50px;
            display: inline-block;
            height: 200px;
            left: -100px;
            position: absolute;
            width: 200px;
            z-index: 1;
            @media screen and (max-width: 991px) {
                width: 150px;
                height: 150px;
                bottom: 100px;
                left: -40px;
            }
        }

        .shadow-2 {
            background-color: hsla(0, 0%, 100%, 0.1);
            border-radius: 20% 130% 100% 125%;
            display: inline-block;
            height: 400px;
            left: 100px;
            position: absolute;
            top: 100px;
            width: 400px;
            z-index: 1;
            @media screen and (max-width: 991px) {
                width: 250px;
                height: 250px;
                left: 50px;
                position: absolute;
                top: 165px;
                z-index: 1;
            }
        }

        .shadow-3 {
            background-color: hsla(0, 0%, 100%, 0.1);
            border-radius: 50%;
            bottom: -30%;
            display: inline-block;
            height: 550px;
            position: absolute;
            right: -124px;
            width: 550px;
            z-index: 1;
            @media screen and (max-width: 991px) {
                width: 250px;
                height: 250px;
                bottom: -5%;
                right: -100px;
            }
        }

    }

    .breadcrumb-content-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 65%;
        z-index: -1;
        height: 100%;
        background-size: cover;
        background-position: top;
        background-color: #e6e6e6;
    }

    .breadcrumb-left {
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            height: 450px;
        }

        h1 {
            @media screen and (max-width: 1024px) {
                font-size: 30px;
            }
        }

        .breadcrumb {
            .breadcrumb-item {
                @media screen and (max-width: 1024px) {
                    font-size: 19px;
                }
                .text-white {
                    position: relative;

                    &:hover {
                        transition: 0.3s all ease-in-out;

                        &:before {
                            width: 100%;
                        }
                    }

                    &:before {
                        position: absolute;
                        content: '';
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background-color: #FFFFFF;
                        transition: 0.3s all ease-in-out;
                    }
                }
            }
        }

    }
}
