.faq_screen {
    .faqs-title {
        font-size: 32px;
    }
    .accordion {
        .accordion-item {
            //border: none !important;
            margin-bottom: 20px !important;
            .accordion-header {
                .accordion-button {
                    box-shadow: 0 0 0 0 !important;
                    border: none !important;
                    //border-radius: 10px !important;
                    font-size: 25px !important;
                    background-color: #ffffff !important;
                    color: var(--bs-dark);
                    @media screen and (max-width: 991px) {
                        font-size: 23px !important;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 20px !important;
                    }
                    @media screen and (max-width: 576px) {
                        font-size: 18px !important;
                    }
                    &.collapsed {
                        background-color: #ffffff !important;
                        color: var(--bs-secondary);
                        //&:after {
                        //    filter: inherit;
                        //}
                    }
                    //&:after {
                    //    filter: brightness(100);
                    //}
                }
            }
            .accordion-collapse {
                .accordion-body {
                    //margin-top: 20px !important;
                    //padding: 20px !important;
                    //background-color: #ffffff !important;
                    color: var(--bs-secondary);
                    //border-radius: 10px !important;
                    font-size: 20px;
                    @media screen and (max-width: 991px) {
                        font-size: 18px !important;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 17px !important;
                    }
                    @media screen and (max-width: 576px) {
                        font-size: 14px !important;
                    }
                    .link {
                        color: #2491eb;
                        transition: 0.3s all ease-in-out;

                        &:hover {
                            color: #2075bb;
                            transition: 0.3s all ease-in-out;
                        }

                    }
                }
            }
        }
    }
}
