.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 0 50px;
    background-color: transparent;
    @include transition(all 0.4s linear);

    @media screen and (max-width: 991px) {
        padding: 0 17px;
    }

    .website-name {
        width: 100%;
        padding: 5px 0 15px 0;

        h1 {
            a {
                text-decoration: none;
                color: #e1e1e1;
                text-shadow: 1px 1px 1px #000000;
                font-size: 28px;
            }
        }
    }

    .sidebar-toggle {
        @include buttonSizeControl(45,100,transparent, #ffffff);
        font-size: 22px;
    }

    .main-menu {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;

        @media screen and (max-width: 991px) {
            position: fixed;
            top: 0;
            left: -300px;
            width: 300px;
            height: 100vh;
            z-index: 999;
            display: block;
            justify-content: inherit;
            align-items: inherit;
            background-color: var(--bs-white);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            @include transition(0.3s linear);

            &.active {
                left: 0;
                @include transition(0.3s linear);
            }

        }

        ul {
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                float: left;
                padding: 0 2px;

                @media screen and (max-width: 991px) {
                    padding: 0;
                    display: block;
                    width: 100%;

                    &:nth-child(1) {
                        height: 65px;
                    }

                }

                &.dropdown-custom {
                    position: relative;

                    @media screen and (min-width: 991px) {
                        &:hover {
                            .dropdown-custom-menu {
                                transform: translateY(0);
                                transition: transform 0.3s;
                            }
                        }
                    }

                    .dropdown-custom-menu {
                        position: absolute;
                        transform: rotateX(90deg);
                        transform-origin: top right;
                        display: block;
                        padding: 0;
                        margin: 0;
                        top: auto;
                        right: 0;
                        height: auto;
                        background-color: var(--bs-white);
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        border: 1px solid var(--bs-border-color);
                        transition: transform 0.3s;

                        @media screen and (max-width: 991px) {
                            position: static;
                            transform: rotateX(90deg);
                            transform-origin: top right;
                            width: 100%;
                            overflow: hidden;
                            box-shadow: 0 0 0 0;
                            border: none;
                            transition: 0.3s all ease-in-out;
                            height: 0;

                            &.active {
                                height: 100%;
                                transform: translateY(0);
                                transition: 0.3s all ease-in-out;
                            }

                        }

                        li {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            height: auto;
                        }

                        .dropdown-item {
                            display: block;
                            padding: 10px 20px;
                            color: #555555;
                            width: 100%;
                            border: none !important;
                            text-shadow: none;

                            &:hover, &.router-link-exact-active {
                                background-color: rgba(73, 80, 87, 0.1);
                                color: #2491eb;
                            }

                        }

                    }

                }

                a {
                    text-decoration: none;
                    font-size: 18px;
                    padding: 10px;
                    color: #e1e1e1;
                    text-shadow: 1px 1px 1px #000000;
                    font-weight: 500;
                    border-bottom: 3px solid transparent;
                    display: inline-block;
                    @include transition(all 0.2s linear);

                    @media screen and (max-width: 991px) {
                        position: relative;
                        display: block;
                        padding: 8px 16px;
                        color: #555555;
                        width: 100%;
                        border: none !important;
                        text-shadow: none;

                        &:hover, &.router-link-exact-active {
                            &:before {
                                width: 100%;
                                @include transition(all 0.3s linear)
                            }
                        }

                        &:before {
                            position: absolute;
                            content: '';
                            left: 0;
                            bottom: 0;
                            width: 0;
                            height: 2px;
                            background-color: #2491eb;
                            @include transition(all 0.3s linear)
                        }

                    }

                    &:hover, &:active, &.active,&.router-link-exact-active {
                        color: #2491eb;
                        border-bottom: 3px solid #2491eb;
                        @include transition(all 0.2s linear);
                    }
                }
            }
        }
    }

    .header-action {
        width: 100%;
        text-align: right;
    }

    &.header-light {
        background-color: #ffffff;
        box-shadow: var(--bs-box-shadow) !important;
        @include transition(all 0.4s linear);

        .website-name {
            h1 {
                a {
                    color: #555555;
                    text-shadow: none;
                }
            }
        }
        .sidebar-toggle {
            @include buttonSizeControl(45,100,transparent, #555555);
            font-size: 22px;
        }
        .main-menu {
            ul {
                li {
                    a {
                        color: #555555;
                        text-shadow: none;
                        &:hover, &:active, &.active,&.router-link-exact-active {
                            color: #2491eb;
                            border-bottom: 3px solid #2491eb;
                            @include transition(all 0.2s linear);
                        }
                    }
                }
            }
        }

    }

    .btn-theme {
        background-color: #2491eb !important;
        transition: 0.3s all ease-in-out !important;
        color: #ffffff !important;
        border: 1px solid #2491eb !important;
        &:hover {
            background-color: #2075bb !important;
            transition: 0.3s all ease-in-out !important;
            border: 1px solid #2075bb !important;
        }
    }

}
