.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 0 50px;
    background-color: transparent;
    @include transition(all 0.4s linear);

    .website-name {
        width: 100%;
        padding: 15px 0;

        h1 {
            a {
                text-decoration: none;
                color: #e1e1e1;
                text-shadow: 1px 1px 1px #000000;
                font-size: 28px;
            }
        }
    }

    .main-menu {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;

        ul {
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                float: left;
                padding: 0 2px;

                a {
                    text-decoration: none;
                    font-size: 18px;
                    padding: 10px;
                    color: #e1e1e1;
                    text-shadow: 1px 1px 1px #000000;
                    font-weight: 500;
                    border-bottom: 3px solid transparent;
                    @include transition(all 0.2s linear);

                    &:hover, &:active, &.active,&.router-link-exact-active {
                        color: #2491eb;
                        border-bottom: 3px solid #2491eb;
                        @include transition(all 0.2s linear);
                    }
                }
            }
        }
    }

    .header-action {
        width: 100%;
        text-align: right;
    }

    &.header-light {
        background-color: #ffffff;
        box-shadow: var(--bs-box-shadow) !important;
        @include transition(all 0.4s linear);

        .website-name {
            h1 {
                a {
                    color: #555555;
                    text-shadow: none;
                }
            }
        }
        .main-menu {
            ul {
                li {
                    a {
                        color: #555555;
                        text-shadow: none;
                        &:hover, &:active, &.active,&.router-link-exact-active {
                            color: #2491eb;
                            border-bottom: 3px solid #2491eb;
                            @include transition(all 0.2s linear);
                        }
                    }
                }
            }
        }

    }

    .btn-theme {
        background-color: #2491eb !important;
        transition: 0.3s all ease-in-out !important;
        color: #ffffff !important;
        border: 1px solid #2491eb !important;
        &:hover {
            background-color: #2075bb !important;
            transition: 0.3s all ease-in-out !important;
            border: 1px solid #2075bb !important;
        }
    }

}
