.pathway_screen {

    .table-responsive {
        .table {
            width: 100%;
            border-spacing: 0;
            thead {
                tr {
                    th {
                        text-align: center;
                        border: none;
                        outline: none;
                        background-color: #2491eb;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 18px 0;
                        vertical-align: middle;
                        outline: none;
                        transition: 0.3s all ease-in-out;
                        border-bottom: none;
                        width: 50%;

                        &:hover {
                            div {
                                transition: 0.3s all ease-in-out;
                                background-color: rgba(36, 145, 235, 0.25);
                                color: var(--bs-black) !important;
                            }
                        }

                    }
                }
            }
        }
    }

}
